@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
}

<div class="jumbotron">
    <h2 class="text-primary"><b><span class="glyphicon glyphicon-road" aria-hidden="true"></span> 給想環島的人 > ></b></h2>
    <p>「想環島的人們，找一天勇敢做下去吧！」</p>
    <img src="@Url.Content("~/Assets/images/7.png")">
</div>

<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4><b><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 想做的事情，趁現在去做，不要讓未來的自己後悔</b></h4></div>
    <div class="panel-body">
        <p>很多人都有夢想吧，但會因為害怕而不敢追夢，或因為現實因素無法踏出去</p>
        <p>但希望所有人都能勇敢追夢，實現自己想做的事情</p>
        <p>「真正的勇敢，不是不害怕，而是即使怕得要死，也會義無反顧的踏出去」</p>
    </div>
</div>

<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4><b><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 環島攜帶品</b></h4></div>
    <div class="panel-body">
        <p>這裡講的是我當時環島帶的東西，東西自己斟酌，太多會讓行動很不方便</p>
        <p>1.衣服四套，兩件外套（西部超熱，東部超冷，幸好有帶）</p>
        <p>2.延長線（很重要!!!!，因為旅館只有一個插座，如果要充電的東西很多就很麻煩）</p>
        <p>3.充電線、充電頭、行充（手機跟Gopro的）</p>
        <p>4.拖鞋（玩海邊時好用）</p>
        <p>5.帽子、防曬外套、防曬乳（西部超熱，太陽超大）</p>
        <p>6.錢（這不須多說吧，人在外必需品）</p>
        <p>7.水壺（避免中暑，多多補充水分）</p>
    </div>
</div>

<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4><b><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 環島注意事項</b></h4></div>
    <div class="panel-body">
        <p>這裡講的是我當時環島帶的東西</p>
        <p>1.環島時，路上真的要小心安全，東部那大段很容易疲勞駕駛，需要休息時就休息</p>
        <p>2.極西點國聖燈塔那邊是沙地，踩進去時要注意鞋子可能會充滿沙子</p>
        <p>3.極南點跟鵝鑾鼻燈塔是不同地方，鵝鑾鼻燈塔要從鵝鑾鼻公園進去</p>
        <p>4.記得開測速</p>
        <p>5.蘇花公路早上出發沒有車子比較安全</p>
        <p>6.墾丁洗衣服超貴，一次100元，烘乾也很貴10塊6分鐘，去東部再洗</p>
        <p>7.注意換機油，盡量在東部前就換好（當時連假沒店家，超怕機油沒換壞掉）</p>
    </div>
</div>
